@import "../_globals.scss";

.pricing{

  .pagination{
    font-family: $main-font;
    color: $accent-color;
    font-size: 16px;
    margin-bottom: 49px;
    margin-top: 99px;
    padding-left: 98px;
  }



  .header{
    text-align: center;
  }

  .for_download{
    a{
      font-weight: bold;

      color: $accent-color;
      text-decoration: none;
    }
  }

  .basic-table{
    table{
      width: 100%;
      text-align: center;
    }

  }

  .many-rows-table{
    table{
      width: 100%;
      text-align: left;

      th{
        text-align: left;
      }
    }
  }
}