.image-slider {
  position: relative;

  display: flex;
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;


  .slider-arrow{
    position: absolute;
    top: 50%;

    cursor: pointer;

    transform: translateY(-50%);
  }

  .prev-arrow{
    left: 15px;
  }

  .next-arrow{
    right: 15px;
  }

  .dots-count {
    display: flex;
    justify-content: space-evenly;

    margin-top: 15px;

    .dot {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      border: 1px solid black;

      cursor: pointer;

      &:not(:last-child){
        margin-right: 5px;
      }
    }

    .active{
      background-color: black;
    }
  }
}