@import "../app/_globals";

.search-products{
  position: relative;

  .search{
    padding-left: 5px;
  }

  .founded-products{
    list-style: none;

    padding: 5px;
    position: absolute;
    background-color: white;
    border: 1px solid black;

    width: 205px;
    height: 205px;

    overflow-y: auto;

    li{
      &:not(:last-child){
        border-bottom: 1px solid $accent-color;
      }
    }
  }
}