@import "../_globals";

.catalog{
  padding-left: 98px;

  .container{
    min-height: 600px;
  }

  .header{
    font-size: 1.5em;
    font-weight: 500;
    color: $accent-color;
  }
  .pagination{
    font-family: $main-font;
    color: $accent-color;
    font-size: 18px;
    margin-bottom: 49px;
    margin-top: 99px;

    .active{
      font-weight: bold;
    }
  }

  .categories_container{
    display: flex;

    ul{
      list-style: none;
      padding: 0;
    }

    a{
      color: inherit;
      text-decoration: none;
    }

    .categories{
      width: 200px;
      min-height: 300px;
      margin-left: -10px;
      padding-right: 20px;
      border-right: 1px solid $accent-color;

      .supercategory{
        cursor: pointer;
      }
      ul{
        li{
          position: relative;
          text-align: center;
          color: $accent-color;
          font-weight:500;

          &:not(:last-child){
            margin-bottom: 40px;
          }
          span{
            text-transform: uppercase;
          }

          &:after{
            content: '';

            position: absolute;
            left: 50%;
            transform: translate(-50%,0);
            display: block;
            width: 50%;
            height: 1px;
            background-image: url("../../../public/divider_catalog.svg");
            background-position: top center;

            margin-top: 10px;
          }
        }
      }
    }

    .subcategories-container{
      display: flex;

      justify-content: center;
      width: 100%;

      .subcategories{
        display: grid;
        /* Будет создано 3 колонки */
        grid-template-columns: 200px 200px 200px;
        grid-gap: 10px 5svw;
        /* Будет создано 3 ряда */
        grid-template-rows: max-content max-content max-content;

        h2{
          margin-top: 0;

          font-weight: 500;
          font-size: 1.25em;
        }

        ul{
          li{
            font-weight: 400;
            font-size: 1em;

            &:not(:last-child){
              margin-bottom: 15px;
            }
          }
        }

      }
    }

  }
}

// Медиазапросы для адаптивного отображения
@media (max-width: 1150px) {
  .catalog {
    padding-left: 50px;
    .categories_container {
      .categories{
        padding-right: 10px;
      }
      .subcategories-container {
        .subcategories {
          grid-template-columns: repeat(2, 1fr); // 2 колонки на экранах меньше 1000px
        }
      }
    }
  }
}

@media (max-width: 700px) {
  .catalog {
    .categories_container {
      .subcategories-container {
        .subcategories {
          grid-template-columns: 1fr; // 1 колонка на экранах меньше 600px
        }
      }
    }
  }
}